*{
    text-align: center;
}
.title{
    
}
.firstImg{
    height: 300px;
}
.firstDiv{
     font-weight: bold;
}
.secondDiv{
    font-weight: bold;
}
.thirdDiv{
    font-weight: bold;
}
.secondImg{
    height: 450px;
    width: 750px;
}
.thirdImg{
    height: 450px;
    width: 700px;
}
.fourthDiv{
    font-weight: bold;
}
.Politik{
    font-weight: bold;
}
.Politik2{
    font-weight: bold;
}
.lomonosovImg{
    height: 500px;
    width: 700px;
}
.knigi{
    height: 450px;
    width: 700px;
}
.Ausbildung{
    font-weight: bold;
}
.Kunst{
    font-weight: bold;
}
.Tourismus{
    font-weight: bold;
}
.image{
    height: 300px;
}
.kamen{
    height: 450px;
    width: 600px;
}
.Welt{
    font-weight: bold;
}